/* background color and font */
html {
    background-color: #faead6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h1,
h3,
input {
    display: inline-flex;
}

.login {
    float: right;
}

input {
    width: 20vw;
}

/* how many columns for titles and name-number pairs */
.title {
    /* repeat(# of columns, 1fr) */
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.grid-wrapper {
    grid-template-columns: repeat(8, 1fr);
}

/* what colors are in background gradient behind columns */
.grid-wrapper,
.title {
    background: linear-gradient(to right,
            #faead6,
            #faead6 25%,
            #ffdeb3 25%,
            #ffdeb3 50%,
            #faead6 50%,
            #faead6 75%,
            #ffdeb3 75%,
            #ffdeb3);
    display: grid;
}

.grid-wrapper p {
    background-color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: lightgray;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

/* keeps image hidden until name box is hovered */
img {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.col_odd p:hover {
    background-color: lightgray;
}

/* reveals image when name box is hovered */
.col_odd p:hover img {
    /* where picture is positioned on x axis */
    transform: translateX(7.5vw);
    /* how fast image transitions into frame */
    transition: 0.3s ease-in-out;
    clip: auto;
    clip-path: none;
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 10%;
}

/* controls size of boxes in columns */
.col_even p {
    width: 75%;
}

.col_odd p {
    min-width: 95%;
    max-width: max-content;
}