html {
    background-color: hsl(30, 100%, 85%);
}

body {
    background-color: hsl(0, 0%, 85%);
    margin: 10%;
    border-radius: 1%;
}

.title {
    display: flex;
    flex: column wrap;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 16.67%;
    -webkit-transition: height 0.5s ease-in-out;
    transition: 0.5s;
}

h2 {
    font-weight: normal;
}

.title:nth-child(1) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.title:nth-child(6) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.title:hover {
    background-color: hsl(51, 100%, 75%);
    height: 25%;
    transition-delay: 0.5ms;
}