html {
    background-color: hsl(30, 100%, 85%);
}

body {
    background-color: hsl(0, 0%, 85%);
    margin: 10%;
    border-radius: 1%;
}

ul {
    padding: 50px 10px;
    height: 1400px;
}

ul li {
    position: relative;
    list-style-type: none;
    background-color: white;
    height: 40vh;
    clear: both;
    margin-block: 10px;
}

ul li:nth-child(odd) {
    color: red;
    width: 49%;
}

ul li:nth-child(even) {
    color: blue;
    width: 49%;
    float: right;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
}

.grid-wrapper:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1;
}

.grid-item {
    min-height: 75px;
    min-width: 75px;
    height: max-content;
    width: max-content;
}

h2 {
    font-weight: normal;
}

.reveal.even {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active.even {
    transform: translateX(0);
    opacity: 1;
}

.reveal.odd {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active.odd {
    transform: translateX(0);
    opacity: 1;
}